$green: #78a43c;
$green_light: #a6cc70;
$white: #ffffff;
$gray_border: #d3d3d3;
$gray_shadow: #c2c2c2;
$bg_gray: #ebebeb;
$black: #000000;
$social_icons: #949493;
$orange_active: #e68b00;
$orange_hover: #ffe9c7;
$gray_text:#686868;
$gray_light: #f6f4f5;
$purple:#7d4fd0;
$dark_purple:#58457c;
$hover_purple: #482787;
$blue: #1bb1e4;
$hover_card: #ffb84d26;
$red: #EA1E63;
$orange_btn: #E69C3B;
$orange_btn_dark: #d68a26;
$green_btn: #3CA853;
$green_btn_dark: #06661b;
$alert: #ff0000;


*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir.woff2') format('woff2'), 
    url('fonts/Vazir.woff') format('woff'), 
    url('fonts/Vazir.ttf') format('truetype');
}
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Vazir-Bold.eot');
    src: url('fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir-Bold.woff2') format('woff2'), 
    url('fonts/Vazir-Bold.woff') format('woff'), 
    url('fonts/Vazir-Bold.ttf') format('truetype');
}
html{
    font-size: 10px;
}
body{
    font-family: 'Vazir', Arial, sans-serif;
    font-weight:normal;
    font-size: 1.6rem;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
body{
    
    #toTop {
        color: #fff;
        position: fixed;
        bottom: 30px;
        left: 30px;
        display: none;
        transform: rotate(-90deg);
        svg{
            width: 40px;
            height: 40px;
        }
    }
    section{
        &.home_page{
            .bg_fixed{
                background: url("./images/image_2021-12-20_11-13-57.png");
                background-size: cover;
                background-attachment: fixed;
                height: 100vh;
                width: 100%;  
                color: white;
                .row{
                    position: relative;
                    height: 100vh;
                }
                .account{
                    position: fixed;
                    margin-top: 10px;
                }
                .logo{
                    position: absolute;
                    top: 30%;
                    .text{
                    text-align: center;
                    margin-top: 15px;
                    font-size: 2.5rem;
                    }
                    .square{
                        border: 6px solid white;
                        transform: rotate(45deg);
                        height: 34px;
                        width: 34px;
                        margin: auto;
                    }
                    .search_box{
                        @media only screen and (max-width: 900px) {
                            width: 310px;
                        }
                        font-size: 1.4rem;                    
                        margin: auto;
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;
                        width: 480px;
                        .search{
                            form{
                                height: 50px;
                                background-color: white;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 10px;
                                button{
                                    width: 30%;
                                    border: 0;
                                    height: 100%;
                                    background-color: $orange_active;
                                    color: $white;
                                    font-size: 1.6rem;
                                    position: relative;
                                    padding-right: 8px;
                                    svg{
                                        width: 20px;
                                        position: absolute;
                                        right: 6px;
                                        height: 20px;
                                        top: 6px;
                                        fill: white;
                                    }
                                    &:hover{
                                        background-color: $green;
                                        box-shadow: 0 0 3px $black;
                                    }
                                }
                                input{
                                    height: 100%;
                                    width: 68%;
                                    border: 0;
                                    background-color: $gray_light;
                                    padding: 0 8px;
                                    &:focus{
                                        box-shadow: 0 0 3px $black;
                                    }
                                    &#form_input2{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .btns{
                            display: flex;
                            button{
                                border: 0;
                                width: 120px;
                                background-color: $white;
                                margin: 0;
                                height: 30px;
                                &.inactive{
                                    background-color: $gray_border;
                                }
                                @media only screen and (max-width: 900px) {
                                    width: 80px;
                                }
                                &:hover{
                                    background-color: $bg_gray;
                                    box-shadow: 0 0 3px $black;
                                    border: 1px solid $gray_border;
                                }
                            }
                        }
                    }
                }
            }
            #Scrol_svg{
                text-align: center;
                width: 30px;
                margin: auto;
                cursor: pointer;
            }
           .offer_text{
               margin-top: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $black;
                font-weight: bold;
                text-align: center;
                font-size: 1.8rem;
                .head{
                    font-size: 4rem;
                }
                .purple{
                    color: $purple;
                    font-size: 1.8rem;
                    font-weight: bold;
                    margin-top: 70px;
                }
                .text{
                    font-size: 1.2rem;
                    margin-top: 25px;
                    color: $gray_text;
                    font-weight: 100;
                }
                .cards{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 50px;
                    padding-bottom: 60px;
                    .card_s{
                        color: $black;
                    }
                    .img{
                        height: 100px;
                        width: 100%;
                        img{
                            height: 100%;
                        }
                    }
                    .title{
                        text-align: center;
                        font-size: 1.5rem;
                    }
                    .info{
                        text-align: center;
                        font-size: 1.2rem;
                        padding: 0 30px;
                        font-weight: 100;
                        color: $gray_text;
                        margin-top: 10px;
                    }
                }
           }
           .questions{
               background-color: $gray_light;
               padding-top: 70px;
               margin-top: 70;
               padding-bottom: 65px;
               .title{
                   width: 300;
                   margin: auto;
                   text-align: center;
                   color: $gray_shadow;
                   font-weight: bold;
                   font-size: 1.2rem;
                   margin-bottom: 35px;
                   hr{
                    width: 50px;
                    text-align: center;
                    margin: auto;  
                    margin-top: 7px;      
                    color: $gray_text;        
                }
               }
               .card_q{
                    border: 1px solid $gray_light;
                    box-shadow: 0 0 3px $gray_shadow;
                    padding: 15px 10px;
                    display: flex;
                    align-items: center;
                    background-color: $white;
                    .logo{
                        width: 20%;
                        text-align: center;
                        svg{
                            fill: $gray_shadow;
                        }
                    }
                    .question{
                        color: $gray_text;
                        font-size: 1.3rem;
                        .quiz{
                            color: $purple;
                            font-size: 1.4rem;
                            span{
                                color: $green;
                            }
                        }
                    }
               }
           }
           .order{
               margin-top: 70px;
               &_form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 60px;
                   &_text{
                        font-size: 1.8rem;
                        font-weight: bold;
                        div{
                            font-weight: 100;
                            font-size: 1.2rem;
                            margin-top: 11px;
                        }
                   }
                   &_number{
                       margin-top: 18px;
                       form{
                        display: flex;
                        width: 310px;
                        height: 40px;
                        button{
                            width: 105px;
                            border: 0;
                            background-color: $purple;
                            color: $white;
                            font-size: 1.3rem;
                            border-radius: 0 8px 8px 0;
                            &:hover{
                                background-color: $dark_purple;
                                box-shadow: 0 0 3px $purple;
                            }
                        }
                        input.maininput{
                            width: 160px;
                            border: 1px solid $gray_border;
                            border-right: 0;
                            padding: 0 5px;
                            text-align: left;
                            font-size: 1.3rem;
                            &:focus{
                                background-color: $gray_light;
                            }
                        }
                        input.second{
                            width: 45px;
                            border: 1px solid $gray_border;
                            border-right: 0;
                            border-radius: 8px 0 0 8px;
                            text-align: center;
                            font-size: 1.3rem;
                            &:focus{
                                background-color: $gray_light;
                            }
                        }
                       }
                   }
                   &_img{
                       margin-top: 30px;
                       width: 310px;
                       a{
                           text-decoration: none;
                           img{
                               width: 150px;
                               height: 45px;
                           }
                       }
                   }
               }
               &_img{
                    display: flex;
                    justify-content: center;
                   img{
                    width: 76%;
                   }
               }
           }
           .review{
                background-color: $gray_light;
                padding-top: 70px;
                .title{
                    width: 300;
                    margin: auto;
                    text-align: center;
                    color: $gray_shadow;
                    font-weight: bold;
                    font-size: 1.2rem;
                    hr{
                        width: 50px;
                        text-align: center;
                        margin: auto;  
                        margin-top: 7px;      
                        color: $gray_text;        
                    }
                }
                &_card{
                    position: relative;
                    border-radius: 8px;
                    width: 310px;
                    background-color: white;
                    box-shadow: 0 3px 10px grey;
                    height: 330px;
                    margin: auto;
                    margin-top: 120px;
                    margin-bottom: 35px;
                    padding: 30px;
                    &:hover{
                        border: 1px solid $gray_border;
                        background-color: $hover_card;
                        svg{
                            fill: $orange_active;
                        }
                    }
                    img{
                        width: 90px;
                        height: 90px;
                        position: absolute;
                        top: -45px;
                        left: 50%;
                        margin-left: -45px;
                        border-radius: 50%;
                        box-shadow: 0 0 3px grey;
                    }
                    &_name{
                        margin-top: 40px;
                        text-align: center;
                        font-size: 1.4rem;
                        font-weight: bold;
                        color: $gray_shadow;
                    }
                    &_body{
                        text-align: center;
                        margin-top: 30px;
                        font-size: 1.5rem;
                        color: $black;
                        span{
                            color: $gray_shadow;
                            font-size: 1.4rem;
                        }
                    }
                    &_logo{
                        text-align: center;
                        margin-top: 50px;
                        svg{
                            width: 25px;
                            fill: $blue;
                        }
                    }
                }
                &_bottom{
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 1.2rem;
                    color: $black;
                    &_bold{
                        font-weight: bold;
                        font-size: 2.4rem;
                    }
                    img{
                        width: 140px;
                    }
                }
           }
           .management{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 50px 0;
                background: rgb(146,80,185);
                background: linear-gradient( 90deg, rgba(146,80,185,1) 0%, rgba(157,79,188,1) 21%, rgba(157,79,188,1) 52%, rgba(130,75,177,1) 74%, rgba(110,72,171,1) 100%);
                color: $white;
                font-size: 1.2rem;
                &_bold{
                    font-size: 2.4rem;
                    font-weight: bold;
                    margin-bottom: 24px;
                }
                button{
                    width: 170px;
                    height: 35px;
                    margin-top: 25px;
                    border: 0;
                    border-radius: 8px;
                    background-color: $white;
                    color: $purple;
                    font-weight: bold;
                    font-size: 1.3rem;
                    box-shadow: 0 2px 5px $black;
                    &:hover{
                        color: $white;
                        background-color: $hover_purple;
                    }
                }
           }
           .news{
               padding: 70px 0 ;
               background-color: $gray_light;
                .title{
                    width: 300;
                    margin: auto;
                    text-align: center;
                    color: $gray_shadow;
                    font-weight: bold;
                    font-size: 1.2rem;
                    margin-bottom: 35px;
                    hr{
                    width: 50px;
                    text-align: center;
                    margin: auto;  
                    margin-top: 7px;      
                    color: $gray_text;        
                    }
                }
                svg{
                    width: 100%;
                    height: 100px;
                }
           }

        }
        &.shop{
            .account{
                position: fixed;
                margin-top: 7px;
                color: $white;
                right: 140px;
                font-weight: 100;
                @media only screen and (max-width: 900px) {
                right: 20px;
                }
            }
            .bg_fixed{
                background: url("./images/image_2021-12-20_11-13-57.png");
                background-size: cover;
                background-attachment: fixed;
                height: 250px;
                width: 100%;  
                color: white;
                .row{
                    position: relative;
                }
                
                .logo{
                    position: absolute;
                    top: 80px;
                    .search_box{
                        @media only screen and (max-width: 900px) {
                            width: 310px;
                        }
                        font-size: 1.4rem;                    
                        margin: auto;
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;
                        width: 480px;
                        .search{
                            form{
                                height: 50px;
                                background-color: white;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 10px;
                                button{
                                    width: 30%;
                                    border: 0;
                                    height: 100%;
                                    background-color: $orange_active;
                                    color: $white;
                                    font-size: 1.6rem;
                                    position: relative;
                                    padding-right: 8px;
                                    svg{
                                        width: 20px;
                                        position: absolute;
                                        right: 6px;
                                        height: 20px;
                                        top: 6px;
                                        fill: white;
                                    }
                                    &:hover{
                                        background-color: $green;
                                        box-shadow: 0 0 3px $black;
                                    }
                                }
                                input{
                                    height: 100%;
                                    width: 68%;
                                    border: 0;
                                    background-color: $gray_light;
                                    padding: 0 8px;
                                    &:focus{
                                        box-shadow: 0 0 3px $black;
                                    }
                                    &#form_input2{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .btns{
                            display: flex;
                            button{
                                border: 0;
                                width: 120px;
                                background-color: $white;
                                margin: 0;
                                height: 30px;
                                &.inactive{
                                    background-color: $gray_border;
                                }
                                @media only screen and (max-width: 900px) {
                                    width: 80px;
                                }
                                &:hover{
                                    background-color: $bg_gray;
                                    box-shadow: 0 0 3px $black;
                                    border: 1px solid $gray_border;
                                }
                            }
                        }
                    }
                }
            }   
            .shop_cards{
                background-color: $gray_light;
                padding: 30px 0;
                &_flex{
                    display: flex;
                    justify-content: center;
                }
                &_card{
                    width: 230px;
                    background-color: #ffffff;
                    height: 370px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 12px;
                    margin:0 8px;
                    margin-top: 10px;
                    box-shadow: 0 0 5px $gray_shadow;
                    &:hover{
                        border: 2px solid red;
                        box-shadow: 0 1px 10px black;
                        .shop_cards_card_info{
                            display: none;
                        }
                        .shop_cards_card_text{
                            display: block;
                        }
                    }
                    @media only screen and (max-width: 991px) {
                        order: 1;
                    }
                    &_text{
                        height: 110px;
                        overflow: hidden;
                        font-size: 14px;
                        text-align: center;
                        padding-top: 8px;
                        display: none;
                    }
                    &_info{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    &_img{
                        width: 100%;
                        img, video{
                            width: 100%;
                            height: 190px;
                            border-radius: 25px;
                            box-shadow: 0 0 5px $gray_shadow;
                            border: 1px solid $gray_border;
                        }
                    }
                    &_name{
                        color: $black;
                        font-weight: bold;
                        font-size: 2.9rem;
                        margin-top: 10px;

                    }
                    &_rate{
                        margin-top: 10px;
                        width: 120px;
                        display: flex;
                        justify-content: space-around;
                        align-content: center;
                        align-items: center;
                        div{
                            font-size: 1.2rem;
                            color: $white;
                            background-color: $red;
                            margin-left: 3px;
                            width: 20px;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 6px;
                        }
                        svg{
                            width: 14px;
                            height: 14px;
                        }
                    }
                    &_adress{
                        margin-top: 10px;
                        color: $gray_shadow;
                        font-size: 1.3rem;
                    }
                    &_btn{
                        display: flex;
                        border: 0;
                        margin-top: 10px;
                        div{
                            width: 125px;
                        }
                        button{
                            width: 120px;
                            color: white;
                            border: 0;
                            height: 30px;
                            border-radius: 25px;
                            font-size: 1.3rem;
                            &.orange_btn{
                                background-color: $orange_btn;
                                &:hover{
                                    background-color: $orange_btn_dark;
                                }
                            }
                            &.green_btn{
                                background-color: $green_btn;
                                &:hover{
                                    background-color: $green_btn_dark;
                                }
                            }
                            &:hover{
                                box-shadow: 0 0 2px $black;
                            }
                        }
                    }
                }
                &_card_big{
                    width: 380px;
                    @media only screen and (max-width: 991px) {
                        order: 2;
                    }
                    @media only screen and (max-width: 480px) {
                        width: 300px;
                    }
                }
            }
        }
    }
    .pp{
        height: 1000px;
        width: 100%;
        border-color: red;
    }
    nav{
        .nav_top{
            height: 40px;
            background-color: $green;
            width: 100%;    
            display: flex;
            align-content: center;
            position: fixed;
            z-index: 100;
    
            .square{
                border: 3.1px solid white;
                transform: rotate(45deg);
                height: 20px;
                width: 20px;
                margin: auto;
            }
        }
        .sign{
            padding-top: 88px;
            height: 48px;
            background-color: $white;
            width: 100%;    
            display: flex;
            align-items: flex-end;
            justify-content: center;
            border-bottom: 1px solid $gray_border;
            box-shadow: 0px 3px 5px $gray_shadow;
            button{
                width: 110px;
                height: 46px;
                border: 0;
                background-color: $white;
                color: $gray_text;
                &.active{
                    border-bottom: 4px solid $green;
                }
                &:hover{
                    background-color: $green_light;
                    color: $white;
                    
                }
            }
        }
    }
    .info-section{
        background-color: $bg_gray;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        .title{
            margin-top: 86px;
            font-size: 2.5rem;
            color: $gray_text;
        }
        form{
            margin: 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            svg{
                position: absolute;
                right: 7px;
                top: 5px;
                width: 20px;
            }
            .relative{
                position: relative;
                height: 60px;
                span{
                    display: block;
                    font-size: 10px;
                    color: $alert;
                    padding-right: 12px;
                    margin-top: 3px;
                    display: none;
                }
            }
            input{
                border: 0;
                height: 36px;
                width: 300px;
                padding: 1px 35px 1px 5px;
                &:focus{
                    border:1px solid $orange_btn_dark;
                    background: $gray_light;
                }
                
            }
            .checkbox{
                width: 300px;
                display: flex;
                position: relative;

                .styled-checkbox {
                    position: absolute;
                    opacity: 0;
                    position: absolute;
                    opacity: 0;
                    width: 1px;
                    top: 22px;
                    height: 1px;
                    right: 22px;
                
                  
                    & + label {
                        position: relative;
                        cursor: pointer;
                        padding: 0;
                        margin-top: 10px;
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
                  
                    & + label:before {
                      content: '';
                      display: inline-block;
                      width: 20px;
                      height: 20px;
                      background: white;
                    }
                  
                    &:hover + label:before {
                      background: $orange_hover;
                    }
                  
                    &:checked + label:before {
                      background: $orange_active;
                    }
                    
                    &:checked + label:after {
                      content: '';
                      position: absolute;
                      left: 5px;
                      top: 9px;
                      background: white;
                      width: 2px;
                      height: 2px;
                      box-shadow: 
                        2px 0 0 white,
                        4px 0 0 white,
                        4px -2px 0 white,
                        4px -4px 0 white,
                        4px -6px 0 white,
                        4px -8px 0 white;
                      transform: rotate(45deg);
                    }
                  }

                .text{
                    margin-top: 10px;
                    margin-right: 10px;
                a{
                    margin: 0;
                    text-decoration: none;
                    color: blue;
                }
                }
            }
            button.submit{
                margin-top: 40px;
                margin-bottom: 80px;
                border: 0px;
                background-color: $green;
                width: 92px;
                height: 34px;
                display: flex;
                color: $white;
                border-radius: 29px;
                justify-content: center;
                line-height: 27px;
                &:hover{
                    background-color: $orange_active;
                }
            }
            button.forget{
                border: 0;
                border-bottom: 1px solid $black;
                margin-left: 169px;
                margin-top: 5px;
                color: $gray_text;
                font-size: 1.4rem; 
                &:hover{
                    color: $black;
                }
            }
            .SvGFocusColor{
                fill: $orange_active;
            }
        }
    }
    footer{
        margin-top: 10px;
        padding-bottom: 50px;
        .icons{
            display: flex;
            width: 300px;
            margin: auto;
            align-items: center;
            a{
                margin: auto;
                svg{
                    width: 22px;
                    margin: auto;
                    fill: $social_icons;
                    &:hover{
                        fill: $orange_active;
                    }
                }
            }
        }
        .details{
            .option{
                border: 0;
                background-color: $white;
                margin-top: 10px;
                text-align: center;
                color: $gray_shadow;
                a{
                    cursor: pointer;
                    text-decoration: none;
                    color: $gray_text;
                    &:hover{
                        color: $black;
                    }
                }
            }
        }
    }
    .nav-menu * {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      .nav-menu > ul > li {
        position: relative;
        white-space: nowrap;
      }
      
      .nav-menu a {
        display: flex;
        align-items: center;
        color: #45505b;
        padding: 10px 18px;
        margin-bottom: 8px;
        transition: 0.3s;
        font-size: 15px;
        border-radius: 50px;
        background: #696969;
        height: 56px;
        width: 100%;
        overflow: hidden;
        transition: 0.3s;
      }
      
      .nav-menu a i {
        font-size: 20px;
      }
      
      .nav-menu a span {
        padding: 0 5px 0 7px;
        color: #45505b;
      }
      
      @media (min-width: 992px) {
        .nav-menu a {
          width: 56px;
        }
        .nav-menu a span {
          display: none;
          color: #fff;
        }
      }
      
      .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
        color: #fff;
        background: #78A43C;
      }
      
      .nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
        color: #fff;
      }
      
      .nav-menu a:hover, .nav-menu li:hover > a {
        width: 100%;
        color: #fff;
      }
      
      .nav-menu a:hover span, .nav-menu li:hover > a span {
        display: block;
      }
      
      .nav-menu{
          position: fixed;
          left: 50px;
          top: 30%;
          direction: ltr;
      
      }
      
      .nav-menu a, u {
        text-decoration: none;
      }
      #form2{
          display: none;
      }
}