$green: #78a43c;
$green_light: #a6cc70;
$white: #ffffff;
$gray_border: #d3d3d3;
$gray_shadow: #c2c2c2;
$bg_gray: #ebebeb;
$black: #000000;
$social_icons: #949493;
$orange_active: #e68b00;
$orange_hover: #ffe9c7;
$gray_text:#686868;


*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir.woff2') format('woff2'), 
    url('fonts/Vazir.woff') format('woff'), 
    url('fonts/Vazir.ttf') format('truetype');
}
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Vazir-Bold.eot');
    src: url('fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir-Bold.woff2') format('woff2'), 
    url('fonts/Vazir-Bold.woff') format('woff'), 
    url('fonts/Vazir-Bold.ttf') format('truetype');
}
html{
    font-size: 10px;
}
body{
    font-family: 'Vazir', Arial, sans-serif;
    font-weight:normal;
    font-size: 1.6rem;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
body{
    nav{
        .nav_top{
            height: 40px;
            background-color: $green;
            width: 100%;    
            display: flex;
            align-content: center;
    
            .square{
                border: 3.1px solid white;
                transform: rotate(45deg);
                height: 20px;
                width: 20px;
                margin: auto;
            }
        }
        .sign{
            height: 48px;
            background-color: $white;
            width: 100%;    
            display: flex;
            align-items: flex-end;
            justify-content: center;
            border-bottom: 1px solid $gray_border;
            box-shadow: 0px 3px 5px $gray_shadow;
            button{
                width: 110px;
                height: 46px;
                border: 0;
                background-color: $white;
                color: $gray_text;
                &.active{
                    border-bottom: 4px solid $green;
                }
                &:focus{
                    background-color: $green_light;
                    color: $white;
                    
                }
            }
        }
    }
    .info-section{
        background-color: $bg_gray;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        .title{
            margin-top: 86px;
            font-size: 2.5rem;
            color: $gray_text;
        }
        form{
            margin: 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            svg{
                position: absolute;
                right: 7px;
                top: 27px;
                width: 20px;
            }
            .relative{
                position: relative;
            }
            input{
                margin-top: 20px;
                border: 0;
                height: 36px;
                width: 300px;
                padding: 1px 35px 1px 5px;
            }
            .checkbox{
                width: 300px;
                display: flex;
                position: relative;

                .styled-checkbox {
                    position: absolute;
                    opacity: 0;
                    position: absolute;
                    opacity: 0;
                    width: 1px;
                    top: 22px;
                    height: 1px;
                    right: 22px;
                
                  
                    & + label {
                        position: relative;
                        cursor: pointer;
                        padding: 0;
                        margin-top: 10px;
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
                  
                    & + label:before {
                      content: '';
                      display: inline-block;
                      width: 20px;
                      height: 20px;
                      background: white;
                    }
                  
                    &:hover + label:before {
                      background: $orange_hover;
                    }
                  
                    &:checked + label:before {
                      background: $orange_active;
                    }
                    
                    &:checked + label:after {
                      content: '';
                      position: absolute;
                      left: 5px;
                      top: 9px;
                      background: white;
                      width: 2px;
                      height: 2px;
                      box-shadow: 
                        2px 0 0 white,
                        4px 0 0 white,
                        4px -2px 0 white,
                        4px -4px 0 white,
                        4px -6px 0 white,
                        4px -8px 0 white;
                      transform: rotate(45deg);
                    }
                  }

                .text{
                    margin-top: 10px;
                    margin-right: 10px;
                a{
                    margin: 0;
                    text-decoration: none;
                    color: blue;
                }
                }
            }
            button.submit{
                margin-top: 40px;
                margin-bottom: 80px;
                border: 0px;
                background-color: $green;
                width: 92px;
                height: 34px;
                display: flex;
                color: $white;
                border-radius: 29px;
                justify-content: center;
                line-height: 27px;
                &:hover{
                    background-color: $orange_active;
                }
            }
            button.forget{
                border: 0;
                border-bottom: 1px solid $black;
                margin-left: 169px;
                margin-top: 5px;
                color: $gray_text;
                font-size: 1.4rem; 
                &:hover{
                    color: $black;
                }
            }
            .SvGFocusColor{
                fill: $orange_active;
            }
        }
    }
    footer{
        margin-top: 10px;
        padding-bottom: 50px;
        .icons{
            display: flex;
            width: 300px;
            margin: auto;
            align-items: center;
            a{
                margin: auto;
                svg{
                    width: 22px;
                    margin: auto;
                    fill: $social_icons;
                    &:hover{
                        fill: $orange_active;
                    }
                }
            }
        }
        .details{
            .option{
                border: 0;
                background-color: $white;
                margin-top: 10px;
                text-align: center;
                color: $gray_shadow;
                a{
                    cursor: pointer;
                    text-decoration: none;
                    color: $gray_text;
                    &:hover{
                        color: $black;
                    }
                }
            }
        }
    }
}