* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Vazir.eot");
  src: url("fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("fonts/Vazir.woff2") format("woff2"), url("fonts/Vazir.woff") format("woff"), url("fonts/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Vazir-Bold.eot");
  src: url("fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Vazir-Bold.woff2") format("woff2"), url("fonts/Vazir-Bold.woff") format("woff"), url("fonts/Vazir-Bold.ttf") format("truetype");
}

html {
  font-size: 10px;
}

body {
  font-family: 'Vazir', Arial, sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body nav .nav_top {
  height: 40px;
  background-color: #78a43c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

body nav .nav_top .square {
  border: 3.1px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 20px;
  width: 20px;
  margin: auto;
}

body nav .sign {
  height: 48px;
  background-color: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #d3d3d3;
  -webkit-box-shadow: 0px 3px 5px #c2c2c2;
          box-shadow: 0px 3px 5px #c2c2c2;
}

body nav .sign button {
  width: 110px;
  height: 46px;
  border: 0;
  background-color: #ffffff;
  color: #686868;
}

body nav .sign button.active {
  border-bottom: 4px solid #78a43c;
}

body nav .sign button:focus {
  background-color: #a6cc70;
  color: #ffffff;
}

body .info-section {
  background-color: #ebebeb;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .info-section .title {
  margin-top: 86px;
  font-size: 2.5rem;
  color: #686868;
}

body .info-section form {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .info-section form svg {
  position: absolute;
  right: 7px;
  top: 27px;
  width: 20px;
}

body .info-section form .relative {
  position: relative;
}

body .info-section form input {
  margin-top: 20px;
  border: 0;
  height: 36px;
  width: 300px;
  padding: 1px 35px 1px 5px;
}

body .info-section form .checkbox {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body .info-section form .checkbox .styled-checkbox {
  position: absolute;
  opacity: 0;
  position: absolute;
  opacity: 0;
  width: 1px;
  top: 22px;
  height: 1px;
  right: 22px;
}

body .info-section form .checkbox .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

body .info-section form .checkbox .styled-checkbox + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
}

body .info-section form .checkbox .styled-checkbox:hover + label:before {
  background: #ffe9c7;
}

body .info-section form .checkbox .styled-checkbox:checked + label:before {
  background: #e68b00;
}

body .info-section form .checkbox .styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .info-section form .checkbox .text {
  margin-top: 10px;
  margin-right: 10px;
}

body .info-section form .checkbox .text a {
  margin: 0;
  text-decoration: none;
  color: blue;
}

body .info-section form button.submit {
  margin-top: 40px;
  margin-bottom: 80px;
  border: 0px;
  background-color: #78a43c;
  width: 92px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  border-radius: 29px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 27px;
}

body .info-section form button.submit:hover {
  background-color: #e68b00;
}

body .info-section form button.forget {
  border: 0;
  border-bottom: 1px solid #000000;
  margin-left: 169px;
  margin-top: 5px;
  color: #686868;
  font-size: 1.4rem;
}

body .info-section form button.forget:hover {
  color: #000000;
}

body .info-section form .SvGFocusColor {
  fill: #e68b00;
}

body footer {
  margin-top: 10px;
  padding-bottom: 50px;
}

body footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .icons a {
  margin: auto;
}

body footer .icons a svg {
  width: 22px;
  margin: auto;
  fill: #949493;
}

body footer .icons a svg:hover {
  fill: #e68b00;
}

body footer .details .option {
  border: 0;
  background-color: #ffffff;
  margin-top: 10px;
  text-align: center;
  color: #c2c2c2;
}

body footer .details .option a {
  cursor: pointer;
  text-decoration: none;
  color: #686868;
}

body footer .details .option a:hover {
  color: #000000;
}
/*# sourceMappingURL=style.css.map */