* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Vazir.eot");
  src: url("fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("fonts/Vazir.woff2") format("woff2"), url("fonts/Vazir.woff") format("woff"), url("fonts/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Vazir-Bold.eot");
  src: url("fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Vazir-Bold.woff2") format("woff2"), url("fonts/Vazir-Bold.woff") format("woff"), url("fonts/Vazir-Bold.ttf") format("truetype");
}

html {
  font-size: 10px;
}

body {
  font-family: 'Vazir', Arial, sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body #toTop {
  color: #fff;
  background-color: #c2c2c2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: none;
}

body #toTop svg {
  width: 40px;
  height: 40px;
}

body section.home_page .bg_fixed {
  background: url("./images/image_2021-12-20_11-13-57.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  color: white;
}

body section.home_page .bg_fixed .row {
  position: relative;
  height: 100vh;
}

body section.home_page .bg_fixed .account {
  position: fixed;
  margin-top: 10px;
}

body section.home_page .bg_fixed .logo {
  position: absolute;
  top: 30%;
}

body section.home_page .bg_fixed .logo .text {
  text-align: center;
  margin-top: 15px;
  font-size: 2.5rem;
}

body section.home_page .bg_fixed .logo .square {
  border: 6px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 34px;
  width: 34px;
  margin: auto;
}

body section.home_page .bg_fixed .logo .search_box {
  font-size: 1.4rem;
  margin: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px;
}

@media only screen and (max-width: 900px) {
  body section.home_page .bg_fixed .logo .search_box {
    width: 320px;
  }
}

body section.home_page .bg_fixed .logo .search_box .search form {
  height: 50px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

body section.home_page .bg_fixed .logo .search_box .search form button {
  width: 30%;
  border: 0;
  height: 100%;
  background-color: #e68b00;
  color: #ffffff;
  font-size: 1.6rem;
  position: relative;
  padding-right: 8px;
}

body section.home_page .bg_fixed .logo .search_box .search form button svg {
  width: 20px;
  position: absolute;
  right: 6px;
  height: 20px;
  top: 6px;
  fill: white;
}

body section.home_page .bg_fixed .logo .search_box .search form button:hover {
  background-color: #78a43c;
  -webkit-box-shadow: 0 0 3px #000000;
          box-shadow: 0 0 3px #000000;
}

body section.home_page .bg_fixed .logo .search_box .search form input {
  height: 100%;
  width: 68%;
  border: 0;
  background-color: #f6f4f5;
  padding: 0 8px;
}

body section.home_page .bg_fixed .logo .search_box .search form input:focus {
  -webkit-box-shadow: 0 0 3px #000000;
          box-shadow: 0 0 3px #000000;
}

body section.home_page .bg_fixed .logo .search_box .search form input#form_input2 {
  display: none;
}

body section.home_page .bg_fixed .logo .search_box .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section.home_page .bg_fixed .logo .search_box .btns button {
  border: 0;
  width: 120px;
  background-color: #ffffff;
  margin: 0;
  height: 30px;
}

body section.home_page .bg_fixed .logo .search_box .btns button.inactive {
  background-color: #d3d3d3;
}

@media only screen and (max-width: 900px) {
  body section.home_page .bg_fixed .logo .search_box .btns button {
    width: 80px;
  }
}

body section.home_page .bg_fixed .logo .search_box .btns button:hover {
  background-color: #ebebeb;
  -webkit-box-shadow: 0 0 3px #000000;
          box-shadow: 0 0 3px #000000;
  border: 1px solid #d3d3d3;
}

body section.home_page #Scrol_svg {
  text-align: center;
  width: 30px;
  margin: auto;
  cursor: pointer;
}

body section.home_page .offer_text {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
}

body section.home_page .offer_text .head {
  font-size: 4rem;
}

body section.home_page .offer_text .purple {
  color: #7d4fd0;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 70px;
}

body section.home_page .offer_text .text {
  font-size: 1.2rem;
  margin-top: 25px;
  color: #686868;
  font-weight: 100;
}

body section.home_page .offer_text .cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

body section.home_page .offer_text .cards .card_s {
  color: #000000;
}

body section.home_page .offer_text .cards .img {
  height: 100px;
  width: 100%;
}

body section.home_page .offer_text .cards .img img {
  height: 100%;
}

body section.home_page .offer_text .cards .title {
  text-align: center;
  font-size: 1.5rem;
}

body section.home_page .offer_text .cards .info {
  text-align: center;
  font-size: 1.2rem;
  padding: 0 30px;
  font-weight: 100;
  color: #686868;
  margin-top: 10px;
}

body section.home_page .questions {
  background-color: #f6f4f5;
  padding-top: 70px;
  margin-top: 70;
  padding-bottom: 65px;
}

body section.home_page .questions .title {
  width: 300;
  margin: auto;
  text-align: center;
  color: #c2c2c2;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 35px;
}

body section.home_page .questions .title hr {
  width: 50px;
  text-align: center;
  margin: auto;
  margin-top: 7px;
  color: #686868;
}

body section.home_page .questions .card_q {
  border: 1px solid #f6f4f5;
  -webkit-box-shadow: 0 0 3px #c2c2c2;
          box-shadow: 0 0 3px #c2c2c2;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

body section.home_page .questions .card_q .logo {
  width: 20%;
  text-align: center;
}

body section.home_page .questions .card_q .logo svg {
  fill: #c2c2c2;
}

body section.home_page .questions .card_q .question {
  color: #686868;
  font-size: 1.3rem;
}

body section.home_page .questions .card_q .question .quiz {
  color: #7d4fd0;
  font-size: 1.4rem;
}

body section.home_page .questions .card_q .question .quiz span {
  color: #78a43c;
}

body section.home_page .order {
  margin-top: 70px;
}

body section.home_page .order_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

body section.home_page .order_form_text {
  font-size: 1.8rem;
  font-weight: bold;
}

body section.home_page .order_form_text div {
  font-weight: 100;
  font-size: 1.2rem;
  margin-top: 11px;
}

body section.home_page .order_form_number {
  margin-top: 18px;
}

body section.home_page .order_form_number form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 310px;
  height: 40px;
}

body section.home_page .order_form_number form button {
  width: 105px;
  border: 0;
  background-color: #7d4fd0;
  color: #ffffff;
  font-size: 1.3rem;
  border-radius: 0 8px 8px 0;
}

body section.home_page .order_form_number form button:hover {
  background-color: #58457c;
  -webkit-box-shadow: 0 0 3px #7d4fd0;
          box-shadow: 0 0 3px #7d4fd0;
}

body section.home_page .order_form_number form input.maininput {
  width: 160px;
  border: 1px solid #d3d3d3;
  border-right: 0;
  padding: 0 5px;
  text-align: left;
  font-size: 1.3rem;
}

body section.home_page .order_form_number form input.maininput:focus {
  background-color: #f6f4f5;
}

body section.home_page .order_form_number form input.second {
  width: 45px;
  border: 1px solid #d3d3d3;
  border-right: 0;
  border-radius: 8px 0 0 8px;
  text-align: center;
  font-size: 1.3rem;
}

body section.home_page .order_form_number form input.second:focus {
  background-color: #f6f4f5;
}

body section.home_page .order_form_img {
  margin-top: 30px;
  width: 310px;
}

body section.home_page .order_form_img a {
  text-decoration: none;
}

body section.home_page .order_form_img a img {
  width: 150px;
  height: 45px;
}

body section.home_page .order_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section.home_page .order_img img {
  width: 76%;
}

body section.home_page .review {
  background-color: #f6f4f5;
  padding-top: 70px;
}

body section.home_page .review .title {
  width: 300;
  margin: auto;
  text-align: center;
  color: #c2c2c2;
  font-weight: bold;
  font-size: 1.2rem;
}

body section.home_page .review .title hr {
  width: 50px;
  text-align: center;
  margin: auto;
  margin-top: 7px;
  color: #686868;
}

body section.home_page .review_card {
  position: relative;
  border-radius: 8px;
  width: 310px;
  background-color: white;
  -webkit-box-shadow: 0 3px 10px grey;
          box-shadow: 0 3px 10px grey;
  height: 330px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 35px;
  padding: 30px;
}

body section.home_page .review_card:hover {
  border: 1px solid #d3d3d3;
  background-color: #ffb84d26;
}

body section.home_page .review_card:hover svg {
  fill: #e68b00;
}

body section.home_page .review_card img {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -45px;
  left: 50%;
  margin-left: -45px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px grey;
          box-shadow: 0 0 3px grey;
}

body section.home_page .review_card_name {
  margin-top: 40px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #c2c2c2;
}

body section.home_page .review_card_body {
  text-align: center;
  margin-top: 30px;
  font-size: 1.5rem;
  color: #000000;
}

body section.home_page .review_card_body span {
  color: #c2c2c2;
  font-size: 1.4rem;
}

body section.home_page .review_card_logo {
  text-align: center;
  margin-top: 50px;
}

body section.home_page .review_card_logo svg {
  width: 25px;
  fill: #1bb1e4;
}

body section.home_page .review_bottom {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #000000;
}

body section.home_page .review_bottom_bold {
  font-weight: bold;
  font-size: 2.4rem;
}

body section.home_page .review_bottom img {
  width: 140px;
}

body section.home_page .management {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  background: #9250b9;
  background: -webkit-gradient(linear, left top, right top, from(#9250b9), color-stop(21%, #9d4fbc), color-stop(52%, #9d4fbc), color-stop(74%, #824bb1), to(#6e48ab));
  background: linear-gradient(90deg, #9250b9 0%, #9d4fbc 21%, #9d4fbc 52%, #824bb1 74%, #6e48ab 100%);
  color: #ffffff;
  font-size: 1.2rem;
}

body section.home_page .management_bold {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 24px;
}

body section.home_page .management button {
  width: 170px;
  height: 35px;
  margin-top: 25px;
  border: 0;
  border-radius: 8px;
  background-color: #ffffff;
  color: #7d4fd0;
  font-weight: bold;
  font-size: 1.3rem;
  -webkit-box-shadow: 0 2px 5px #000000;
          box-shadow: 0 2px 5px #000000;
}

body section.home_page .management button:hover {
  color: #ffffff;
  background-color: #482787;
}

body section.home_page .news {
  padding: 70px 0;
  background-color: #f6f4f5;
}

body section.home_page .news .title {
  width: 300;
  margin: auto;
  text-align: center;
  color: #c2c2c2;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 35px;
}

body section.home_page .news .title hr {
  width: 50px;
  text-align: center;
  margin: auto;
  margin-top: 7px;
  color: #686868;
}

body section.home_page .news svg {
  width: 100%;
  height: 100px;
}

body .pp {
  height: 1000px;
  width: 100%;
  border-color: red;
}

body nav .nav_top {
  height: 40px;
  background-color: #78a43c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

body nav .nav_top .square {
  border: 3.1px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 20px;
  width: 20px;
  margin: auto;
}

body nav .sign {
  height: 48px;
  background-color: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #d3d3d3;
  -webkit-box-shadow: 0px 3px 5px #c2c2c2;
          box-shadow: 0px 3px 5px #c2c2c2;
}

body nav .sign button {
  width: 110px;
  height: 46px;
  border: 0;
  background-color: #ffffff;
  color: #686868;
}

body nav .sign button.active {
  border-bottom: 4px solid #78a43c;
}

body nav .sign button:focus {
  background-color: #a6cc70;
  color: #ffffff;
}

body .info-section {
  background-color: #ebebeb;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .info-section .title {
  margin-top: 86px;
  font-size: 2.5rem;
  color: #686868;
}

body .info-section form {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .info-section form svg {
  position: absolute;
  right: 7px;
  top: 27px;
  width: 20px;
}

body .info-section form .relative {
  position: relative;
}

body .info-section form input {
  margin-top: 20px;
  border: 0;
  height: 36px;
  width: 300px;
  padding: 1px 35px 1px 5px;
}

body .info-section form .checkbox {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body .info-section form .checkbox .styled-checkbox {
  position: absolute;
  opacity: 0;
  position: absolute;
  opacity: 0;
  width: 1px;
  top: 22px;
  height: 1px;
  right: 22px;
}

body .info-section form .checkbox .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

body .info-section form .checkbox .styled-checkbox + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
}

body .info-section form .checkbox .styled-checkbox:hover + label:before {
  background: #ffe9c7;
}

body .info-section form .checkbox .styled-checkbox:checked + label:before {
  background: #e68b00;
}

body .info-section form .checkbox .styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .info-section form .checkbox .text {
  margin-top: 10px;
  margin-right: 10px;
}

body .info-section form .checkbox .text a {
  margin: 0;
  text-decoration: none;
  color: blue;
}

body .info-section form button.submit {
  margin-top: 40px;
  margin-bottom: 80px;
  border: 0px;
  background-color: #78a43c;
  width: 92px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  border-radius: 29px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 27px;
}

body .info-section form button.submit:hover {
  background-color: #e68b00;
}

body .info-section form button.forget {
  border: 0;
  border-bottom: 1px solid #000000;
  margin-left: 169px;
  margin-top: 5px;
  color: #686868;
  font-size: 1.4rem;
}

body .info-section form button.forget:hover {
  color: #000000;
}

body .info-section form .SvGFocusColor {
  fill: #e68b00;
}

body footer {
  margin-top: 10px;
  padding-bottom: 50px;
}

body footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .icons a {
  margin: auto;
}

body footer .icons a svg {
  width: 22px;
  margin: auto;
  fill: #949493;
}

body footer .icons a svg:hover {
  fill: #e68b00;
}

body footer .details .option {
  border: 0;
  background-color: #ffffff;
  margin-top: 10px;
  text-align: center;
  color: #c2c2c2;
}

body footer .details .option a {
  cursor: pointer;
  text-decoration: none;
  color: #686868;
}

body footer .details .option a:hover {
  color: #000000;
}
/*# sourceMappingURL=style.css.map */